.line {
	background-color: var(--primary-4);
	display: block;
	height: 0.5rem;
	width: 80%;
}
#forcelogo {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	animation: headmotion 1.5s ease-in;
}
#forcelogo:hover {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
#abouthead {
	display: flex;
	justify-content: center;
	align-items: center;
}
#abouthead .abouthead-mob {
	object-fit: cover;
	max-width: 85%;
	animation: none;
	display: none;
}
@media (max-width: 672px) {
	#abouthead * {
		display: none;
	}
	#abouthead .abouthead-mob {
		display: inline;
	}
}
#head1 {
	font-size: 4rem;
	line-height: 4.5rem;
	margin: auto;
	color: var(--primary-3);
	animation: headmotion 1.5s ease-in;
}
#head1:hover {
	transform: scale(1.05);
}
@keyframes headmotion {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#para1 {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 90%;
	text-align: center;
	font-size: 1.35rem;
	line-height: 1.75rem;
}
#video {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 5rem;
	margin-bottom: 15rem;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
video {
	width: 100%;
}

.cardholder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.83);
	border-radius: 1rem;
	margin: auto;
	margin-bottom: 5rem;
	width: 90%;
	transition: transform 0.2s;
}
.cardholder:hover {
	transform: scale(1.05);
}
.cardhead {
	width: 42%;
	color: var(--primary-2);
	font-size: 1.5rem;
	line-height: 2.7rem;
	margin: 0.5rem;
}
.cardhead h2 {
	margin: 1.3rem 0rem;
}
.cardcontent {
	width: 50%;
	padding: 1.8rem;
	margin: 0.5rem;
	font-size: 1rem;
	line-height: 2rem;
	color: white;
}
.cardholder:nth-child(even) {
	flex-flow: row;
}
.cardholder:nth-child(odd) {
	flex-flow: row-reverse;
}
#quote {
	width: 50%;
	font-size: 1.2rem;
	padding: 1.8rem;
	margin: 0.5rem;
	font-size: 1.5rem;
	line-height: 2rem;
	color: white;
	order: 1;
	align-self: center;
}
#quote p {
	margin-bottom: 1.25rem;
}
.quotepic {
	width: 20%;
	margin: 0.5rem;
}

.quotepic img {
	width: 100%;
	height: auto;
	border-radius: 2rem;
}
li {
	padding: 0rem 0.25rem;
}
ul {
	padding: 0rem 1rem;
	margin: 0.5rem 0;
}
ul li::marker {
	content: "\e86c";
	font-family: "Material Icons";
}
ul li {
	font-size: 1rem;
	line-height: 1.25rem;
	padding: 0.25rem 0.75rem;
}
body {
	background-color: #f0f0f0;
	background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
#coc {
	padding: 2.5rem 5rem 5rem 7rem;
	font-size: 1.2rem;
	line-height: 2rem;
	margin: auto;
	margin-bottom: 5rem;
	border-radius: 1rem;
	width: 85%;
}
#coc h2 {
	color: var(--primary-2);
	font-size: 3rem;
	line-height: 4rem;
	margin-bottom: 2rem;
}

@media (max-width: 672px) {
	.cardholder:nth-child(even) {
		flex-flow: column;
	}
	.cardholder:nth-child(odd) {
		flex-flow: column;
	}
	.cardhead {
		text-align: center;
	}
	.cardholder .line {
		margin: 0 auto;
	}
	.cardhead,
	.cardcontent,
	#quote,
	.quotepic {
		width: 95%;
	}
	#coc {
		padding: 2.5rem 1.25rem;
		width: 95%;
	}
	#coc h2 {
		text-align: center;
	}
}
