*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 0px;
    margin: 0px;
}
#container{
    /* height: 42rem;
    width: 90rem; */
    border: 5px rgb(9, 175, 125) solid;
    background-image: url('img/bgimg.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    padding-top: 5rem;
    height: 55rem;
    background-attachment: fixed;
}
h1{
    color:white;
}
p{
    color: white;
}
#logo{
    height: 5em;
    width: 5em;
}
.navbar{
    background-color: black;
    overflow: auto;
    opacity: 80%;
    border-radius: 0.3rem;
}
.navbar li{
    float:left;
    margin: 1rem 2.5rem;
    list-style-type: none;
}
.navbar li a{
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color:rgb(9, 175, 125);
}
.search{
    float:right;
    color:white;
    margin: 0.85rem 2.5rem;
    display: inline-block;
}
p{
    margin: 3rem 2rem;
}
#logo{
    padding: 1rem 1rem;
    width: 10rem;
    height: 10rem;
}
h1{
    display: inline-block;
    font-size: 5rem;
    padding: 3rem 3rem;
}