*{
    margin: 0;
    border: 0;
}
body{
    background-color: #A267AC;
}
ul{
    list-style-type: none;
}
.navbar ul{
    display: flex;
}
.navbar{
    color: #FFBCD1;
    background: #6867AC;
    height: 80px;
}
.navbar .logo{
    font-size: xxx-large;
    font-weight: bolder;
    
}
.navbar .container{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
.navbar a:hover{
    color: cyan;
    padding-top: calc(2em - 2px);
}
.navbar ul li {
    margin-left: 20px;
  }
.navbar a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}
.btn{
    border-radius: 35px;
    cursor: pointer;
    font-size: 30px;
    margin: 0 500 0 50%;
    display: flex;
    padding: 20px;
    background-color: #F2789F;
    text-align: center;
    color: #EDD2F3;
    /* width: 200px; */
    transition: background 2s, transform 1s 1s linear;

}
.btn:hover{
    background-color: salmon;
    cursor: pointer;
    box-shadow: 12px 12px 12px cyan;
    transform: translate(-3px,-3px) rotate(-5400deg);
}
.front{
    height: 400px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.ff{
    text-align: center;
    align-items: center;
    /* display: flex; */
    height: 100%;
    align-items: center;
}
.para{
    font-size: 30px;
    display: flex;
    height: 50%;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 25px;
    font-weight: bold;
    color: white;
}
.ff2{
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: flex-start;
    margin: 4px;
}